.content {
  padding-top: 180px;
  padding-left: 123px;
}
.content__button1 {
  margin-bottom: 30px;
}
.content__h2 {
  margin-bottom: 45px;
}
.content__p {
  margin-bottom: 53px;
}
.content__button {
  margin-bottom: 170px;
}
