.wrapper {
  height: 560px;
  display: flex;
  margin-bottom: 399px;
}
.wrapper__block {
  height: 560px;
  width: 100%;
  background-color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__title {
  padding: 200px 0;
  text-align: center;
  display: inline-block;
  font-size: 60px;
  width: 363px;
}
